.popover-button {
    border: unset !important;
    border-radius: unset !important;
    background-color: unset !important;
    color: var(--blue-active) !important;
    font-weight: 600 !important;

    @media (max-width: 575px) {
        font-size: medium !important;
    }
}

.btn-primary:focus::before {
    border: unset !important;
}

.popover-content-unit {
    padding: 50px!important;
    background-color: var(--blue-active) !important;
    overflow-y: auto !important;
    height: 564px;
    width: 1120px;
    max-width: calc(100vw - 110px);
    @media (max-width: 575px) {
        height: 350px;
    }

    @media (max-width: 1200px) {
        width: 470px;
        padding: 15px!important;
    }


    .pgn__form-control-set {
        flex-direction: row;
        flex-wrap: wrap;
        >div {
            flex: 0 0 450px;
            max-width: 100%;
            margin: 6px 50px 6px 0;
        }
    }

    .pgn__form-radio {
        >div {
            width: 100%;
        }
    }

    .xlabel {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        .count {
            margin-left: auto;
            padding-left: 20px;
            white-space: nowrap;
        }
    }
}

.popover-content-semester {
    background-color: var(--blue-active) !important;
    overflow-y: auto !important;
    height: 265px;
    padding: 50px!important;
    @media (max-width: 1200px) {
        padding: 15px!important;
    }
}

.popover-button-hide {
    display: none !important;
}

.arrow {
    display: none !important;
}

.pgn__form-label {
    font-size: 0.8rem !important;
    color: white !important;
}
