.popover-button {
    border: unset !important;
    border-radius: unset !important;
    background-color: unset !important;
    color: var(--blue-active) !important;
    font-weight: 600 !important;

    @media (max-width: 575px) {
        font-size: medium !important;
    }
}

.btn-primary:focus::before {
    border: unset !important;
}

.popover-content-unit {
    background-color: var(--blue-active) !important;
    overflow-y: auto !important;
    height: 500px;
    @media (max-width: 575px) {
        height: 350px;
    }
}

.popover-content-semester {
    background-color: var(--blue-active) !important;
    overflow-y: auto !important;
    height: 350px;
}

.popover-button-hide {
    display: none !important;
}

.arrow {
    display: none !important;
}

.pgn__form-label {
    font-size: 1em !important;
    color: white !important;
}
