.nav-wrapper {
    background-color: var(--blue-active);
    >nav {
        max-width: 1600px;
    }
}

.login-btn {
    svg {
        margin-right: 10px;
    }
}

.logo {
    max-height: 80px;
    width: auto;
    @media (max-width: 991px) {
        max-height: 60px;
    }
}

.navbar-nav {
    @media (max-width: 991px) {
        border-top: 1px solid #f0eeed;
    }

    .nav-link {
        color: #f0eeed!important;
        white-space: nowrap;
        &:hover {
            color: var(--yellow-active) !important;
        }

        @media (min-width: 1200px) {
            padding: 0 2rem !important;
        }

        @media (min-width: 992px) and (max-width: 1199px) {
            padding: 0 1.5rem !important;
        }

        @media (max-width: 991px) {
            border-bottom: 1px solid #f0eeed;

            &:hover {
                background-color: #f0eeed;
            }
        }
    }
}

.red-btn {
    background-color: #E30613!important;
    white-space: nowrap;
    border-color: #E30613!important;
    &:hover, &:focus {
        background-color: #C32D3A!important;
    }
}

.navbar-toggler {
    margin-top: -24px;
    margin-left: -12px;
    &:not(.collapsed) {
        .navbar-toggler-icon {
            background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAABWUlEQVR4nO2ZQW7CMBBFUU/SBSdppYo9gUUoZ2fBGRASVHpdgKWRFSMy8YydyH+dzP/PY5J4WK2ampqaFiVgDXQF/TtgPbXIJ3AC/oBjpmxj/PfAHTirYQREkCuMgAjSwQC7Z3gimINB7tj7kPDeaQvGq2LeGTNPTxhzLw8YtwWzNHLfwhaG7hAWxsUgcgYoDpEjSDUQUwJVB6EJVi1E0DsBq4cIehV0NhBBpD/2inx8TlJi9efRiVgvYMwgPiyKLkKL2FpAP/sfe6IT83r88jjfDwX9FdfUDfMOhLi2TpgxEOKeumA0EOLeOmB4jDFVEKJG8dPhZAhRq9h5PQWhfie4w1hAiNpuMy0zCOFhPmXsgJslhPAym/tuExB9puxDnnlhEtvpjna0P847ddIcv4DAD3D16sSAf9yZC/CtLRZgXCGEf4DRQ4hiG8r+GdoDX6X8m5qammz0DxSI24yFKOQmAAAAAElFTkSuQmCC")!important;
        }
    }
}

.mobile-login {
    margin-top: -15px!important;
    margin-right: -15px!important;
}

.navbar-light .navbar-toggler {
    border: 0;
}

.navbar-light .navbar-toggler-icon {
    height: 24px;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='%23FFFFFF' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")!important;
    width: 24px;
}

.fw-600 {
    font-weight: 600;

    .btn-transparent {
        color: white !important;
    }
}

.nav-wrapper {
    z-index: 10;
    position: sticky !important;
    top: 0;
    margin: 0 auto;
    background-color: var(--blue-active);

    .navbar {
        padding: 0.5rem 1rem!important;
    }

    .right-box-faq {
        flex-wrap: nowrap!important;
        .dropdown-toggle::after {
            margin-left: 10px;
        }
    }

}

.visible {
    top: 0;
    transition: top 0.4s ease-out;
}
  
.hidden {
    top: -160px;
    transition: top 0.4s ease-out;

    @media (max-width: 991px) {
        top: 0;
    }
}

.language {
    color: white;
}