.event-line {
    text-align: center;
    border-bottom: 3px solid rgb(29, 103, 205);
    position: relative;
}

.event-name {
    font-size: 1rem;
    text-align: justify;
}

.event-item {
    padding: 20px 0;

    @media (min-width: 992px) {
        padding: 50px 0;
    }
}

.event-date {
    border: 1px solid #ddd;
    width: 145px;
    white-space: nowrap;
    flex-shrink: 0;
    text-align: center;
    margin-bottom: 15px;

    @media (min-width: 992px) {
        margin-top: 5px;
    }

    .date {
        padding: 0 5px;
        color: var(--blue-active);
        padding: 8px 0;
    }
    
    .week-date {
        background-color: #ff7023;
        padding: 8px 0;
        color: white;
        font-weight: 600;
    }
}
