.event-line {
    text-align: center;
    border-bottom: 3px solid rgb(29, 103, 205);
    position: relative;
}

.event-name {
    font-size: 1rem;
}

.event-date {
    font-family: AvoBold;
}

.event-item {
    padding: 20px 0;
}