.logo {
    max-height: 100px;
    width: auto;
    @media (max-width: 991px) {
        max-height: 60px;
    }
}

.navbar-nav {
    @media (max-width: 991px) {
        border-top: 1px solid #f0eeed;
    }

    .nav-link {
        color: rgba(0,0,0,0.87)!important;
        font-weight: 600;
        &:first-child {
            color: #0161CC !important;
        }

        @media (min-width: 992px) {
            padding: 0 2rem !important;
        }

        @media (max-width: 991px) {
            border-bottom: 1px solid #f0eeed;

            &:hover {
                background-color: #f0eeed;
            }
        }
    }
}

.red-btn {
    background-color: #E30613!important;
    border-color: #E30613!important;
    &:hover, &:focus {
        background-color: #C32D3A!important;
    }
}

.navbar-toggler {
    margin-top: -24px;
    margin-left: -12px;
}