@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,800,900');

.banner {
    height: calc(80vh - 100px);
    position: relative;
    img {
        position: absolute;
        max-width: 100%;
        bottom: 0;
        right: 0;
    }

    .text-over {
        top: 15%;
        z-index: 1;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 2.1rem;

        @media (max-width: 767px) {
            max-height: 300px
        }

        .text-wrapper {
            
            .text-name {
                font-family: "Montserrat",sans-serif;
                font-size: 3rem;
                font-weight: bolder;
                color: #E30613;
                line-height: 1;
                max-width: 400px;
                border-radius: 0 30px 30px 0;

                @media (max-width: 767px) {
                    width: calc(100vw/4 + 2em);
                }

                @media (min-width: 768px) and (max-width: 991px) {
                    font-size: 4rem;
                    width: calc(100vw/5 + 2em);
                }

                @media (min-width: 992px) {
                    font-size: 5rem;
                }
            }

            .text-title {
                font-family: "Montserrat",sans-serif;
                font-size: 2rem;
                font-weight: 800;
                color: #15304B;
                line-height: 1.2;

                @media (min-width: 768px) and (max-width: 991px) {
                    font-size: 3rem;
                }

                @media (min-width: 992px) {
                    font-size: 4rem;
                }
            }

        }

        .margin-bottom-20 {
            margin-bottom: 20px;
        }
    }
}