.body-content-wrapper {
    font-family: AvoRegular, Helvetica, Arial, sans-serif;

    .body-content {
        .social-icons {
            position: fixed;
            top: calc(100vh/2 - 60px);
            right: 0;
            background-color: var(--blue-active);
            z-index: 2;

            img {
                padding: 0.5rem;

                // @media (max-width: 575px) {
                //     padding: 0.3rem;
                // }
            }

            @media (max-width: 991px) {
                display: none !important;
            }
        }

        .common-courses {
            // max-width: 1440px;
            margin: 0 auto;
            background-color: rgba(191, 199, 216, 0.2);

            .blank-area {
                padding: 30px;

                @media (max-width: 1199px) {
                    padding: unset;
                }
            }

            .search-common-course {
                // margin: 0 auto;

                .icon-info {
                    margin: 0 auto;
                    padding: 4rem 0;
                    max-width: 250px;
                    min-width: 200px;
                    text-align: center;

                    img {
                        display: block;
                        margin: auto;
                        // width: 50%;

                        @media (max-width: 575px) {
                            // display: flex;
                            width: 40px;
                        }
                    }

                    span {
                        font-weight: 600;
                        color: var(--blue-active);

                        @media (max-width: 575px) {
                            font-size: small;
                        }
                    }

                    @media (max-width: 1199px) {
                        padding: 1rem 0;
                        // display: inline;
                    }

                    @media (max-width: 575px) {
                        max-width: 125px;
                        min-width: 100px;
                    }
                }

                .icon-info-line {
                    text-align: center;
                    border-bottom: 2px solid var(--blue-active);
                    position: relative;
                    width: 50%;
                    left: 25%;

                    @media (max-width: 1199px) {
                        display: none;
                    }
                }
            }

            .popular-courses {
                // background-color: var(--blue-active);
                // max-width: 1440px;
    
                .courses-bg {
                    background-color: var(--blue-active);
                    // max-width: 1440px;
                    
                    @media (max-width: 767px) {
                        overflow: auto;
                        max-width: 100vw;
                    }

                    .card {
                        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                        width: 280px;
                        // max-width: 300px;
                        // min-width: 200px;
                        margin: auto;
                        text-align: center;
                        overflow: hidden;
            
                        img {
                            height: 200px;
                            object-fit: cover;
                            transition: transform .5s ease;
            
                            @media (min-width: 991px) and (max-width: 1139px) {
                                height: 180px;
                            }
            
                            @media (max-width: 991px) {
                                height: 150px;
                            }

                            &:hover {
                                transform: scale(1.2)
                            }
                        }

                        .course-btn {
                            background-color: var(--blue-active);
                            color: white;
                            margin: auto;
                            width: 80%;
                        }

                        .foot {
                            background-color: var(--blue-active);
                            font-size: 0.875rem;
                            color: white;
                            // width: 100%;
                            bottom: 0;
                            // position: absolute;
                            margin-top: 1rem;
                            padding: 8px .75rem;
                            display: flex;
                            overflow: hidden;
                            border-radius: 0 0 0.425rem 0.425rem!important;
                            >div {
                                display: flex;
                                align-items: center;
                                .pgn__icon {
                                    display: flex;
                                    margin-right: 1px;
                                    align-items: center;
                                    svg {
                                        margin-top: -1px;
                                        height: 1.2rem;
                                    }
                                }
                                &:nth-child(2) {
                                    margin-left: auto;
                                }
                            }
                        }
                    }
                      
                    .course-name {
                        color: var(--blue-active);
                        font-family: AvoRegular, Helvetica Neue, Roboto, Arial, sans-serif;
                        padding: 20px 5px 10px;
                        font-weight: bold;
                        font-size: 1em;
                        line-height: normal;
                        height: 70px;
                        max-width: 280px;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                        overflow: hidden;
                    }
            
                    .description {
                        color: var(--blue-active);
                        font-family: AvoRegular, Helvetica Neue, Roboto, Arial, sans-serif;
                        padding: .5em 5px;
                        // font-weight: lighter;
                        font-size: .75em;
                        line-height: normal;
                        height: 60px;
                        max-width: 280px;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                    }
                                
                    a {
                        text-decoration: none;
                    }
                }
                
                .readmore-btn {
                    background-color: var(--blue-active);
                    text-align: center;
                }

                .button {
                    background-color: white;
                    border: none;
                    color: var(--blue-active);
                    padding: 10px 25px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;
                    border-radius: 25px;
                }
            }
        }

        .guide-video-wrapper {
            background-color: var(--blue-active);

            .video-blank-area {}

            .guide-video {
                width: 100%;
            }

        }

        .body-text-title {
            font-size: 1.5rem;
            line-height: normal;
            font-family: AvoBold;
            letter-spacing: -1px;
        }

        .end-body {
            background-color: white;
            padding: 10px;
            width: 100%;
        }
    }
}