.body-content-wrapper {
    .body-content {
        .social-icons {
            position: fixed;
            top: calc(100vh/2 - 60px);
            right: 0;
            background-color: rgb(33, 62, 140);
            z-index: 2;

            img {
                padding: 0.5rem;
            }

            @media (max-width: 991px) {
                display: none !important;
            }
        }

        .popular-courses-wrapper {
            background-color: white;
            display: flex;
            margin: 0 auto;
            flex-direction: row;

            @media (max-width: 1199px) {
                flex-direction: column;
            }

            .course-filter-options {
                flex: 0 0 11vw;
                margin: 0 auto;

                @media (min-width: 2140px) {
                    flex: 0 0 calc((100vw - 1500px)/2);
                }

                .blank-area {
                    padding: 30px;
    
                    @media (max-width: 1199px) {
                        padding: unset;
                    }
                }

                .search-common-course {
                    display: flex;
                    
                    @media (min-width: 1200px) {
                        flex-direction: column;
                    }
                    
                    .icon-info {
                        margin: 0 auto;
                        padding: 4rem 0;
                        max-width: 250px;
                        min-width: 200px;
                        text-align: center;
    
                        @media (max-width: 1199px) {
                            padding: 1rem 0;
                        }
    
                        @media (max-width: 575px) {
                            padding: .5rem 0;
                            max-width: 125px;
                            min-width: 100px;
                        }
    
                        img {
                            display: block;
                            margin: auto;
    
                            @media (max-width: 575px) {
                                width: 50px;
                            }
                        }
    
                        span {
                            font-weight: 600;
                            color: var(--blue-active);
    
                            @media (max-width: 575px) {
                                font-size: small;
                            }
                        }
    
                    }
    
                    .icon-info-line {
                        text-align: center;
                        border-bottom: 2px solid var(--blue-active);
                        position: relative;
                        width: 50%;
                        left: 25%;
    
                        @media (max-width: 1199px) {
                            display: none;
                        }
                    }
                }
            }

            .popular-courses {
                max-width: 1450px;
                margin: 0 auto;
    
                .popular-courses-inner {
        
                    .courses-bg {
                        background-color: var(--blue-active);
                        justify-content: center;
                        
                        @media (max-width: 767px) {
                            overflow: auto;
                            justify-content: start;
                            max-width: 100vw;
                        }
    
                        .card {
                            border: none!important;
                            border-top-left-radius: 22px;
                            border-top-right-radius: 22px;
                            border-bottom-left-radius: 20px;
                            border-bottom-right-radius: 20px;
                            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                            width: 280px;
                            max-width: 100%;
                            margin: auto;
                            text-align: center;
                            overflow: visible;
                
                            .course-card-img-wrapper {
                                height: 200px;
                                overflow: hidden;
                                height: 150px;

                                &:hover, &:not(hover) {
                                    border-top-left-radius: 20px;
                                    border-top-right-radius: 20px;    
                                }
                            }

                            img {
                                border-top-left-radius: 20px;
                                border-top-right-radius: 20px;
                                width: 100%;
                                height: auto;
                                object-fit: cover;
                                transition: transform .5s ease;
                
                                @media (min-width: 991px) and (max-width: 1139px) {
                                    height: 180px;
                                }
                
                                @media (max-width: 991px) {
                                    height: 150px;
                                }
    
                                &:hover {
                                    transform: scale(1.2)
                                }
                            }
    
                            .course-btn {
                                background-color: var(--blue-active);
                                color: white;
                                margin: auto;
                                width: 80%;
                            }
    
                            .foot {
                                background-color: var(--blue-active);
                                font-size: 0.875rem;
                                color: white;
                                border: 1px solid;
                                border-left-color: white;
                                border-right-color: white;
                                bottom: 0;
                                margin-top: 1rem;
                                padding: 8px .75rem;
                                display: flex;
                                overflow: hidden;
                                border-radius: 0 0 20px 20px!important;
                                // border-radius: 0.75rem!important;
                                margin: auto;
                                width: 100%;
                                >div {
                                    display: flex;
                                    align-items: center;
                                    .pgn__icon {
                                        display: flex;
                                        margin-right: 1px;
                                        align-items: center;
                                        svg {
                                            margin-top: -1px;
                                            height: 1.2rem;
                                        }
                                    }
                                    &:nth-child(2) {
                                        margin-left: auto;
                                    }
                                }
                            }
                        }
                          
                        .course-name {
                            margin: 0 auto;
                            color: var(--blue-active);
                            padding: 20px 20px 0 20px;
                            font-weight: 600;
                            line-height: normal;
                            height: 70px;
                            max-width: 280px;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            font-size: 1.1rem;
                        }
                
                        .description {
                            color: var(--blue-active);
                            padding: 0 20px 80px 20px;
                            line-height: normal;
                            height: 60px;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            text-align: center;
                        }
                                    
                        a {
                            text-decoration: none;
                        }
                    }
                    
                    .readmore-btn {
                        background-color: var(--blue-active);
                        text-align: center;
                    }
    
                    .button {
                        background-color: white;
                        border: none;
                        color: var(--blue-active);
                        padding: 10px 25px;
                        text-align: center;
                        text-decoration: none;
                        display: inline-block;
                        border-radius: 25px;
                    }
                }
            }

            .blank-courses {
                flex: 0 0 11vw;
                margin: 0 auto;
            
                @media (min-width: 2140px) {
                    flex: 0 0 calc((100vw - 1500px)/2);
                }

                @media (max-width: 1600px) {
                    display: none;
                }
            }
        }

        .guide-video-wrapper {
            background-color: var(--blue-active);

            .guide-video-area {
                max-width: 1450px;
                margin: 0 auto;
                .video-blank-area {
                    margin-left: 230px;
                }
    
                .guide-video {
                    width: 100%;
                    max-width: 1430px;
                    img {
                        width: 100%;
                    }

                    .link-title {
                        text-decoration: none;
                        text-align: center;
                        color: var(--blue-active);
                        font-weight: 600;
                    }

                    .video-wrapper {
                        text-align: center;
                        video {
                            aspect-ratio: 16/9;
                            width: 700px;
                            max-width: 80%;
                            margin: 0 auto;
                        }
                        >div:last-child {
                            margin: 20px 0 40px 0;
                            font-weight: 600;
                        }
                    }

                    .videos {
                        padding: 30px 0;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        >div {
                            flex: 0 0 45%;
                        }
                    }

                    .video-carousel {
                        display: none;
                        .carousel-indicators li {
                            background-color: var(--blue-active);
                        }
                        .carousel-control-next-icon, .carousel-control-prev-icon {
                            background-color: var(--blue-active);
                        }
                    }
                    
                    @media screen and (max-width: 768px) {
                        .videos {
                            display: none!important;
                        }
                        .video-carousel {
                            display: block;
                        }
                    }
                }
    
            }
        }

        .news-event-wrapper {
            background-color: white;
            color: var(--blue-active)!important;
            margin: 0 auto;
            padding: 10px;
            max-width: 1450px;
            min-height: 600px;

            .news-event-content {
                margin-left: unset;

                >div {
                    &:first-child {
                        flex: 0 0 60%;
                        padding-right: 30px;

                        @media (min-width: 1200) {
                            padding-right: 60px;
                        }
                    }
                    
                    &:last-child {
                        flex: 0 0 40%;
                        padding-left: 30px;

                        @media (min-width: 1200px) {
                            padding-left: 60px;
                        }
                    }
                }

                @media (max-width: 767px) {
                    >div {
                        &:first-child {
                            padding-right: 1rem!important;
                            padding-left: 1rem!important;
                        }
                        &:last-child {
                            padding-right: 1rem!important;
                            padding-left: 1rem!important;
                        }
                    }
                }
                
                .news-events-text {
                    font-weight: 600;
                    font-size: 1.1rem;
                    margin-bottom: unset;
                    margin-top: 10px;

                    @media (min-width: 576px) {
                        margin-bottom: 20px;
                    }
                    .pgn__icon {
                        padding-top: 5px;
                    }

                    .pgn__icon svg path {
                        fill: var(--blue-active) !important;
                    }
                }

                .carousel-indicators {
                    z-index: 1 !important;
                    height: 55%;
                    
                    @media (min-width: 768px) and (max-width: 991px) {
                        height: 50%;
                    }
                
                    @media (min-width: 992px) and (max-width: 1399px) {
                        height: 45%;
                    }
                
                    @media (min-width: 1400px) {
                        height: 40%;
                    }
                }
                
                .carousel-inner {
                    width: 100% !important;
                
                    .carousel-item {
                        transition: transform 0.6s ease-in-out !important;
                
                        img {
                            max-width: 900px;
                            max-height: 350px;
                            height: 350px;
                            object-fit: cover;

                            @media (max-width: 575px) {
                                width: 300px;
                                height: 250px;
                            }

                            @media (min-width: 576px) and (max-width: 1199px) {
                                width: 600px;
                                height: 300px;
                            }

                        }
                
                        .carousel-caption {
                            min-height: 210px;
                            position: relative !important;
                            right: auto !important;
                            left: auto !important;
                            bottom: unset !important;
                            color: var(--blue-active) !important;
                            text-align: left !important;
                            z-index: 2 !important;
                        
                            @media (max-width: 575px) {
                                padding-top: 10px !important;
                                padding-bottom: 10px !important;
                            }

                            a {
                                text-decoration: none;
                            }

                            .carousel-title {
                                font-size: 1.1rem;
                                border: unset !important;
                                border-radius: unset !important;
                                background-color: unset !important;
                                color: var(--blue-active) !important;
                                font-weight: 400 !important;
                                text-align: left !important;
                                padding: unset;
                            }
                        
                            .carousel-description {
                                font-size: 0.9rem;
                                padding: .75rem 0;

                                @media (max-width: 575px) {
                                    padding: 0.25rem !important;                                    
                                }
                            }


                        }
                        
                    }
                    
                }
                
                .carousel-control-prev, .carousel-control-next {
                    height: 55%;
                
                    @media (min-width: 1200px) {
                        height: 65%;
                    }

                    .carousel-control-next-icon, .carousel-control-prev-icon {
                        background-color: var(--blue-active) !important;
                        padding: 5px;
                    }
                }
            }
        }

        .body-text-title {
            font-size: 1.5rem;
            line-height: normal;
            letter-spacing: -1px;
            font-weight: 600;

            @media (max-width: 575px) {
                font-size: 1.25rem;
            }
        }
    }
}