.footer-content-wrapper {
    background-color: #878787;
    color: #FFF;
    font-family: Helvetica, sans-serif;

    a {
        text-decoration: none;
        color: inherit;
    }

    .footer-connect {
        flex-wrap: wrap;
        flex-direction: column;
        display: flex;
        a {
            img {
                width: 22px;
                height: 22px;
            }
            span {
                margin-left: 8px;
            }
        }
    }

    .footer-info {
        p  {
            text-align: left;
            img {
                margin-top: -5px;
            }
        }
    }
}

.download {
    img {
        max-width: 100%;
    }
}