@import "@edx/brand/paragon/fonts.scss";
@import "@edx/brand/paragon/variables.scss";
@import "@openedx/paragon/scss/core/core.scss";
@import "@edx/brand/paragon/overrides.scss";
@import './homepage/index.scss';
@import "~@edx/frontend-component-header/dist/index";

:root {
    --norm-text: rgba(0,0,0,0.87);
    --blue-active: #001F63;
    --red-active: #870026;
    --yellow-active: #FFEE01;
    --gray-active: #BFC7D8;
}

body {
    color: rgba(0,0,0,0.87);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 1rem;
}