@import "@edx/brand/paragon/fonts.scss";
@import "@edx/brand/paragon/variables.scss";
@import "@openedx/paragon/scss/core/core.scss";
@import "@edx/brand/paragon/overrides.scss";

@import './homepage/index.scss';

@import "~@edx/frontend-component-header/dist/index";
// @import "~@edx/frontend-component-footer/dist/footer";

:root {
    --norm-text: rgba(0,0,0,0.87);
    --blue-active: #001F63;
    --red-active: #870026;
    --yellow-active: #E2AB1A;
    --gray-active: #BFC7D8;
}

@font-face {
	font-family: "AvoRegular";
	src: local("AvoRegular"), url("./assets/fonts/SVN-Avo_Regular.ttf");
}

@font-face {
	font-family: "AvoBold";
	src: local("AvoBold"), url("./assets/fonts/SVN-Avo_Bold.ttf");
}

body {
    color: rgba(0,0,0,0.87);
    font-family: AvoRegular, Open Sans, Helvetica Neue, Roboto, Arial, sans-serif;
}